# Question 1 
What value is displayed when the last expression (a) is evaluated? Explain your 
answer by indicating what happens in every executed statement

In [1]:
a = 0
def b():
    global a
    a = c(a)
def c(a):
    return a + 2
b()
b()
b()
a

# Explanation for Question 1

Value of a will be 6 when last expression a calling.
 executed Steps
1).a = 0
2).called function b(), value of a = 0
3).called function c(a),return value (a+2)=(0+2)=2
4).called function b() second time a = c(a),this time value of 'a'=  2
5).called function c(a) ,return value (a+2)=(2+2)=4
6).called function b() third time a = c(a),now value of 'a' = 4
7).called function c(a) ,return value (a+2) =(4+2)=6
8)called function b() last time,value of 'a' = 6
9).print a value is 6

# Question 2 
Function fileLength(), given to you, takes the name of a file as input and returns 
the length of the file:
>>> fileLength('midterm.py')
284
>>> fileLength('idterm.py')
Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module>
 fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength
 infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory: 
'idterm.py'
As shown above, if the file cannot be found by the interpreter or if it cannot be read 
as a text file, an exception will be raised. Modify function fileLength() so that a 
friendly message is printed instead:
>>> fileLength('midterm.py')
358
>>> fileLength('idterm.py')
File idterm.py not found.

In [505]:
f= open("midterm.py","w+")
for i in range(11):
     f.write("Hello World!Here I'm Sarbjeet%d\r\n " % (i+1))

In [506]:
def fileLength(filename):
        try:
                f=open(filename,'r')
                data=f.readlines()
                line=""
                for i in data:
                        line+=i
                result=len(line)
                return result
        except FileNotFoundError:
                return ("File {} not found.".format(filename))

In [507]:
print(fileLength(('midterm.py')))
print(fileLength('idterm.py'))

365
File idterm.py not found.

# Question 3
Write a class named Marsupial that can be used as shown below:
Now write a class named Kangaroo as a subclass of Marsupial that inherits all the 
attributes of Marsupial and also:
a. extends the Marsupial __init__ constructor to take, as input, the 
coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and 
moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and
c. overloads the __str__ operator so it behaves as shown below.

In [459]:
class Marsupial(): 
    def __init__(self):
        self.myList = []
    def put_in_pouch(self,item):
        self.myList.append(item)
    def pouch_contents(self):
        return self.myList

class Kangaroo(Marsupial):
    #part (a)extends the Marsupial __init__ constructor to take, as input, the coordinates x and y of the Kangaroo object 
    def __init__(self,x,y):
        Marsupial.__init__(self)
        self.x = x
        self.y = y
    #part (b)supports method jump that takes number values dx and dy as input and moves the kangaroo by dx units along the x-axis and by dy units along the yaxis 
    def jump(self,ax,ay):
        self.x += ax
        self.y += ay
        #part (c) overloads the __str__ operator
    def __str__(self):
        return "I am a Kangaroo located at co-ordinates ({},{})".format(self.x,self.y)

In [8]:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

k = Kangaroo(0,0)
print(k)

I am a Kangaroo located at co-ordinates (0,0)

In [6]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)

print(k)

I am a Kangaroo located at co-ordinates (3,0)

# Question 4
Write function collatz() that takes a positive integer x as input and prints the 
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying 
this rule to the previous number x in the sequence:
x = {
𝑥/2 𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛
3𝑥 + 1 𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑
Your function should stop when the sequence gets to number 1. Your 
implementation must be recursive, without any loops

In [10]:
def collatz(x):
    myList = [x]
    if x == 1:
        return [1]
    elif x % 2 ==0:
        myList.extend(collatz(x//2))
    else:
        myList.extend(collatz(x*3+1))
    return myList

In [11]:
collatz(1)

[1]

In [12]:
collatz(10)

[10, 5, 16, 8, 4, 2, 1]

# Question 5 
Write a recursive method binary() that takes a non-negative 
integer n and prints the binary representation of integer n.

In [13]:
def binary(n):
    
    if n > 1:
        binary(n//2)
    print(n % 2,end = '')

In [14]:
binary (0)

0

In [15]:
binary (1)

1

In [16]:
binary (3)

11

In [17]:
binary (9)

1001

# Question 6
Implement a class named HeadingParser that can be used to parse an HTML 
document, and retrieve and print all the headings in the document. You should 
implement your class as a subclass of HTMLParser, defined in Standard Library 
module html.parser. When fed a string containing HTML code, your class should 
print the headings, one per line and in the order in which they appear in the 
document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your 
implementation using w3c.html.

In [17]:
f = open('w3c.html','w')
html_template = """<html>
<body>
W3C Mission
Principles
</body>
</html>
"""
f.write(html_template)
f.close()

In [18]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    
    headers = ['h1', 'h2', 'h3', 'h4', 'h5', 'h6']
    def handle_starttag(self, tag, attrs):
        if tag in self.headers:
            print(tag)

    def handle_endtag(self, tag):
        if tag in self.headers:
            print(tag)
            
    def handle_data(self, data):
        print(data)

In [19]:
infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission
Principles

# Question 8
Write SQL queries on the below database table that return:

In [190]:
import sqlite3
con = sqlite3.connect('DataB.db')
cur = con.cursor()
#code for table
cur.execute("CREATE TABLE Weather21(City text, Country text, Season text, Temperature float, Rainfall float)")
#value for 1st row
cur.execute("INSERT INTO Weather21 VALUES ('Mumbai','India','Winter',24.8,5.9)")

In [191]:
# insert values into database
cur.execute("INSERT INTO Weather21 VALUES ('Mumbai','India','Spring',28.4,16.2)")
cur.execute("INSERT INTO Weather21 VALUES ('Mumbai','India','Summer', 27.9, 1549.4)")
cur.execute("INSERT INTO Weather21 VALUES ('Mumbai','India','Fall',27.6,346.0)")
cur.execute("INSERT INTO Weather21 VALUES ('London','United Kingdom','Winter', 4.2, 207.7 )")
cur.execute("INSERT INTO Weather21 VALUES ('London','United Kingdom','Spring', 8.3,169.6 )")
cur.execute("INSERT INTO Weather21 VALUES ('London','United Kingdom','Summer',15.7,157.0)")
cur.execute("INSERT INTO Weather21 VALUES ('London','United Kingdom','Fall',10.4,218.5)")
cur.execute("INSERT INTO Weather21 VALUES ('Cairo','Egypt','Winter', 13.6,16.5 )")
cur.execute("INSERT INTO Weather21 VALUES ('Cairo','Egypt','Spring',20.7,6.5 )")
cur.execute("INSERT INTO Weather21 VALUES ('Cairo','Egypt','Summer',27.7,0.1)")
cur.execute("INSERT INTO Weather21 VALUES ('Cairo','Egypt','Fall',22.2,4.5)")
con.commit()

In [193]:
cur.execute("SELECT * FROM Weather21")
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

# Question 8(a)
All the temperature data.

In [194]:
import sqlite3
con = sqlite3.connect('DataB.db')
cur = con.cursor()
cur.execute("SELECT Temperature FROM Weather21")
cur.fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

# Question 8(b)
All the cities, but without repetition.

In [201]:
import sqlite3
con = sqlite3.connect('DataB.db')
cur = con.cursor()
cur.execute("SELECT * FROM Weather21 GROUP BY City HAVING COUNT (*) > 1;")
cur.fetchall()

[('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('Mumbai', 'India', 'Winter', 24.8, 5.9)]

# QUESTION 8(c) 
All the records for India.

In [198]:
import sqlite3
con = sqlite3.connect('DataB.db')
cur = con.cursor()
cur.execute("SELECT * FROM Weather21 WHERE Country = 'India'")
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

# Question 8(d)
All the Fall records.

In [199]:
import sqlite3
con = sqlite3.connect('DataB.db')
cur = con.cursor()
cur.execute("SELECT * FROM Weather21 WHERE Season = 'Fall'")
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

# Question 8(e)
The city, country, and season for which the average rainfall is between 200 
and 400 millimeters.

In [209]:
import sqlite3
con = sqlite3.connect('DataB.db')
cur = con.cursor()
cur.execute("SELECT * FROM Weather21 WHERE Rainfall>200 AND Rainfall<400 ")
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5)]

# Question 8 (f)
The city and country for which the average Fall temperature is above 20 
degrees, in increasing temperature order

In [216]:
import sqlite3
con = sqlite3.connect('DataB.db')
cur = con.cursor()
cur.execute("SELECT * FROM Weather21 WHERE Temperature>20 ORDER BY Temperature ASC")
cur.fetchall()

[('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5),
 ('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2)]

# Question 8(g)
The total annual rainfall for Cairo

In [218]:
import sqlite3
con = sqlite3.connect('DataB.db')
cur = con.cursor()
cur.execute("SELECT SUM(Rainfall) FROM Weather21 WHERE city ='Cairo'")
cur.fetchall()

[(27.6,)]

# Question 8(h)
The total rainfall for each season

In [230]:
import sqlite3
con = sqlite3.connect('DataB.db')
cur = con.cursor()
cur.execute("SELECT SUM(Rainfall) FROM Weather21 GROUP BY Season ")
cur.fetchall()

[(569.0,), (192.29999999999998,), (1706.5,), (230.1,)]

# Question 9
 Suppose list words is defined as follows:>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

Write list comprehension expressions that use list words and generate the following 
lists:

In [107]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 
'the', 'lazy', 'dog']
#9(a)
lst = [element.upper() for element in words]
#9(b)
lst1 = [element.lower() for element in words]
#9(c)
lst2 = [len(i) for i in words]
#9(d)
lst3 = [[i.upper(),i.lower(),len(i)] for i in words]
#9(e)
lst4 = []
for i in words:
    if(len(i) >= 4):
        lst4.append(i)

# 9(a)
 ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [88]:
lst

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

# 9(b)
 ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [89]:
lst1

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

# 9(c)
 [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words).

In [90]:
lst2

[3, 5, 5, 3, 5, 4, 3, 4, 3]

# 9(d)
 [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 
'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], 
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 
4], ['DOG', 'dog', 3]] (the list containing a list for every word of list 
words, where each list contains the word in uppercase and lowercase and the 
length of the word.)

In [91]:
lst3

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

# 9(e)
['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] (the list of words in list words containing 4 or more characters.)

In [108]:
lst4

['quick', 'brown', 'jumps', 'over', 'lazy']